<h1>Demos</h1>
<p class="well well-sm">Collection of random demos and technology use cases for Ember.JS</p>


<h2>Services Example</h2>
{{demo-service}}
<hr/>
<h2>Observers Example</h2>
{{demo-observer}}