<h1>Demos</h1>
<p class="well well-sm">Collection of random demos and technology use cases for Ember.JS</p>


<h2>Services Example</h2>
	{{demo-service}}
<hr/>


<h2>Observers/Computed Example</h2>
	{{demo-observer}}
<hr/>


<h2>Helpers</h2>
	<p>Your total is {{format-currency 350 sign="£"}}.</p>
	<p>Your full name is {{format-name 'Jerrol' 'Krause'}}.</p>
<hr/>